.my-ishop__name {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600;
}

.my-ishop__product-info-table {
    width: 100%;
    border-collapse: collapse;
}

.my-ishop__header {
    font-size: 36px;
    border: 1px solid black;
}
